#home-title {
    color: salmon;
    text-shadow: 5px 5px 5px 5px red; 
}

#home-header {

}

#home-main {

}

#home-footer {

}

.container {
    border: blue solid thin;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.box {
    border: red solid thin;
    border-width: 10px;   
}
